{% extends 'base.html' %}

{% block header %}
    <h1>Activity Summary</h1>
{% endblock %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>Data</th>
            <th>Value</th>
            <th>Unit</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td class="{{ loop.cycle('odd', 'even') }}">{{ row[0] }}</td>
                <td class="{{ loop.cycle('odd', 'even') }}">{{ row[1] }}</td>
                <td class="{{ loop.cycle('odd', 'even') }}">{{ row[2] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
