{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}User Info{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="birthdate">Birthdate</label>
        <input name="birthdate" id="birthdate" value="{{ user_info[0] }}">
        <label for="target_distance">Target Distance</label>
        <input name="target_distance" id="target_distance" value="{{ user_info[1] }}">
        <label for="target_time">Target Time (minutes)</label>
        <input name="target_time" id="target_time" value="{{ user_info[2] }}">
        <input type="submit" value="Save">
    </form>
{% endblock %}
